/////////////////////////
///////fonts config
/////////////////////////
.font0 {
  font-size: 0.2rem;
}
.font1 {
  font-size: 0.4rem;
}
.font2 {
  font-size: 0.6rem;
}
.font3 {
  font-size: 0.8rem;
}
.font4 {
  font-size: 1rem;
}
.font5 {
  font-size: 1.2rem;
}
.font6 {
  font-size: 1.4rem;
}
.font7 {
  font-size: 1.6rem;
}
.font8 {
  font-size: 1.8rem;
}
/////////////////////////
///////text-color
/////////////////////////
.text-white {
  font: white;
  color: white;
}

.text-light {
  font: #eee;
  color: #eee;
}

.text-dark {
  font: rgb(17, 17, 17);
  color: rgb(17, 17, 17);
}

/////////////////////////
///////text-color
/////////////////////////
.bg-default {
  background-color: $bg-default;
}

/////////////////////////
///////round border default
/////////////////////////
.border-round-default {
  border-radius: 0.5rem;
}
