$brand-background: #ebebeb;
$brand-navbar: #c63028;
$brand-banner: #333333;
$bg-default: white;
$brand-title-border: rgb(148, 4, 4);
$brand-title-primary: rgba(250, 250, 250, 0.965);
$brand-title-primary-text: black;
$brand-items-primary: rgba(239, 255, 244, 0.452);
$brand-item-primary-text: black;
$brand-item-primary-text-hover: rgba(255, 0, 0, 0.438);
$brand-post-btn-standard: rgba(255, 0, 0, 0.274);
$brand-item-primary-badge: rgba(53, 53, 53, 0.472);
$brand-item-primary-badge-text: rgb(255, 255, 255);
$brand-footer-text: #eee;
$brand-footer-text-hover: rgba(255, 0, 0, 0.274);
