@import url("../node_modules/shabnam-font/dist/font-face.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
.font0 {
  font-size: 0.2rem;
}

.font1 {
  font-size: 0.4rem;
}

.font2 {
  font-size: 0.6rem;
}

.font3 {
  font-size: 0.8rem;
}

.font4 {
  font-size: 1rem;
}

.font5 {
  font-size: 1.2rem;
}

.font6 {
  font-size: 1.4rem;
}

.font7 {
  font-size: 1.6rem;
}

.font8 {
  font-size: 1.8rem;
}

.text-white {
  font: white;
  color: white;
}

.text-light {
  font: #eee;
  color: #eee;
}

.text-dark {
  font: #111111;
  color: #111111;
}

.bg-default {
  background-color: white;
}

.border-round-default {
  border-radius: 0.5rem;
}

* {
  font-family: "Shabnam", sans-serif;
  text-align: right;
}

body {
  background: #ebebeb !important;
}

.navbar {
  background-color: #c63028 !important;
  height: 2rem;
}

.banner {
  background-color: #333333 !important;
  height: 12rem;
}

ion-icon {
  color: white;
}

.menu {
  background-color: #c63028 !important;
  border-radius: 0.5rem;
  height: 3rem;
}

.menu-ul {
  list-style-type: none;
}

.menu-item {
  display: inline-block;
  margin-left: 0.4rem;
}

.widget-pishnahad {
  border-right: 7px solid #940404 !important;
}

.title-primary {
  background: rgba(250, 250, 250, 0.965);
  border-right: 2px solid #940404;
  color: black;
  height: 2.5rem;
}

.item-primary-ul {
  list-style: none;
}

.item-primary {
  background: rgba(239, 255, 244, 0.452);
  list-style: none;
  border-left: 5px solid #940404;
  border-right: 2px solid #940404;
  text-decoration: none !important;
  color: black;
  height: 2rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.item-primary a {
  text-decoration: none;
  color: black;
  padding-right: 0.3rem;
}

.item-primary:hover {
  color: rgba(255, 0, 0, 0.438);
}

.item-primary:hover .item-primary-badge {
  color: rgba(255, 0, 0, 0.438) !important;
}

.item-primary-badge {
  background: rgba(53, 53, 53, 0.472) !important;
  color: white !important;
  padding: 3px;
  border-radius: 5px;
}

.sidebar {
  border-right: 7px solid #940404 !important;
}

.post-standard,
.post-single,
.tags,
.comments {
  padding: 1rem !important;
  border-right: 7px solid #940404 !important;
}

.title-post-standard {
  border-right: 2px solid #940404 !important;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.246) !important;
  margin-bottom: 5px;
  padding-right: 0.4rem;
}

.title-post-standard h5 a {
  color: rgba(56, 56, 56, 0.664);
}

.post-main-content {
  padding: 2rem 0;
}

.post-main-content p {
  text-align: center;
}

.post-btn-standard {
  background: rgba(255, 0, 0, 0.274);
  padding: 0.8rem 1.3rem !important;
  border-radius: 25px !important;
  margin: 1.5rem 0 !important;
  margin-right: auto !important;
}

.post-footer {
  border-top: 0.3px solid rgba(0, 0, 0, 0.37) !important;
  padding-top: 0.4rem;
}

.post-footer-item {
  margin-left: 0.7rem;
}

.download-section-header {
  width: 100% !important;
  border-bottom: 2px solid #4462a7 !important;
}

.download-section-header span {
  display: inline-block;
  background-color: #4462a7 !important;
  color: white !important;
  padding: 0.8rem 1.3rem !important;
}

.download-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download-section .btn-download {
  margin-top: 1rem;
  padding: 0.8rem 4rem;
  background-color: #4462a7;
  color: white;
  cursor: pointer;
}

.download-section .btn-download:hover {
  background-color: rgba(68, 98, 167, 0.561);
}

.error-section-header {
  width: 100% !important;
  border-bottom: 2px solid #c52c2c !important;
}

.error-section-header span {
  display: inline-block;
  background-color: #c52c2c !important;
  color: white !important;
  padding: 0.8rem 1.3rem !important;
}

.error-section .error-link {
  color: #c52c2c !important;
  text-decoration: none !important;
}

.advertisment-section-header {
  width: 100% !important;
  border-bottom: 2px solid #5cf5a9 !important;
}

.advertisment-section-header span {
  display: inline-block;
  background-color: #5cf5a9 !important;
  color: white !important;
  padding: 0.8rem 1.3rem !important;
}

.info-section-header {
  width: 100% !important;
  border-bottom: 2px solid #f5de5c !important;
}

.info-section-header span {
  display: inline-block;
  background-color: #f5de5c !important;
  color: white !important;
  padding: 0.8rem 1.3rem !important;
}

.info-section .social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-section .social-items .item {
  margin-left: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #acacac;
  border-left: 2px solid #c63028;
  cursor: pointer;
  -webkit-transition: all 320ms;
  transition: all 320ms;
}

.info-section .social-items .item:hover {
  background: rgba(63, 63, 63, 0.541);
}

.info-section .social-items .item:hover > .text {
  font-weight: 900;
}

.info-section .social-items .item-fb {
  background: #279eff;
  color: white;
  padding: 0;
}

.info-section .social-items .item-fb .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
  height: 100%;
}

.info-section .social-items .item-fb .text {
  margin: 0;
  padding: 1rem 1.3rem;
  display: inline-block;
  background: white;
  height: 100% !important;
  color: black;
}

.info-section .social-items .item-insta {
  background: #e2922a;
  color: white;
  padding: 0;
}

.info-section .social-items .item-insta .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1rem;
  height: 100%;
}

.info-section .social-items .item-insta .text {
  margin: 0;
  padding: 1rem 1.3rem;
  display: inline-block;
  background: white;
  height: 100% !important;
  color: black;
}

.info-box {
  border: 1px solid black;
}

.comments-section-header {
  width: 100% !important;
  border-bottom: 2px solid #fb90ff !important;
}

.comments-section-header h1 {
  margin: 0;
  display: inline-block;
  background-color: #fb90ff !important;
  color: white !important;
  padding: 0.8rem 1.3rem !important;
}

footer {
  width: 100%;
  height: 2.5rem;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer a {
  color: #eee;
}

footer a:hover {
  color: rgba(255, 0, 0, 0.274);
}
/*# sourceMappingURL=style.css.map */