@import "variables";
@import "config";
@import url("../node_modules/shabnam-font/dist/font-face.css");
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");

* {
  font-family: "Shabnam", sans-serif;
  text-align: right;
}

body {
  background: $brand-background !important;
}
///////////////////
//navbar
///////////////////
.navbar {
  background-color: $brand-navbar !important;
  height: 2rem;
}

///////////////////
//banner
///////////////////
.banner {
  background-color: $brand-banner !important;
  height: 12rem;
}

ion-icon {
  color: white;
}

///////////////////
//menu
///////////////////

.menu {
  background-color: $brand-navbar !important;
  border-radius: 0.2rem;
  height: 3rem;
}

.menu-ul {
  list-style-type: none;
}

.menu-item {
  display: inline-block;
  margin-left: 0.4rem;
}

///////////////////
//widget area
///////////////////
.widget-pishnahad {
  border-right: 7px solid $brand-title-border !important;
}

.title-primary {
  background: $brand-title-primary;
  // border-left: 5px solid $brand-title-border;
  border-right: 2px solid $brand-title-border;
  color: $brand-title-primary-text;
  height: 2.5rem;
}

.item-primary-ul {
  list-style: none;
}

.item-primary {
  background: $brand-items-primary;
  list-style: none;
  border-left: 5px solid $brand-title-border;
  border-right: 2px solid $brand-title-border;
  text-decoration: none !important;
  color: $brand-item-primary-text;
  height: 2rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  a {
    text-decoration: none;
    color: $brand-item-primary-text;
    padding-right: 0.3rem;
  }
  &:hover {
    color: $brand-item-primary-text-hover;
    .item-primary-badge {
      color: $brand-item-primary-text-hover !important;
    }
  }
}

.item-primary-badge {
  background: $brand-item-primary-badge !important;
  color: $brand-item-primary-badge-text !important;
  padding: 3px;
  border-radius: 5px;
}

///////////////////
//sidebar
///////////////////
.sidebar {
}
.sidebar-item {
  padding: 0.3rem 0.3rem;
  margin-bottom: 0.5rem;
  border-right: 7px solid $brand-title-border !important;
}

///////////////////
//post
///////////////////

.post {
}

.post-standard,
.post-single,
.tags,
.comments {
  padding: 1rem !important;
  border-right: 7px solid $brand-title-border !important;
}

.title-post {
}

.title-post-standard {
  border-right: 2px solid $brand-title-border !important;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.246) !important;
  margin-bottom: 5px;
  padding-right: 0.4rem;

  h1 {
    //
  }

  h5 {
    a {
      color: rgba(56, 56, 56, 0.664);
    }
  }
}

.post-main-content {
  padding: 2rem 0;
  p {
    text-align: center;
  }
}

.post-btn-standard {
  background: $brand-post-btn-standard;
  padding: 0.8rem 1.3rem !important;
  border-radius: 25px !important;
  margin: 1.5rem 0 !important;
  margin-right: auto !important;
}

.post-footer {
  border-top: 0.3px solid rgba(0, 0, 0, 0.37) !important;
  padding-top: 0.4rem;
}

.post-footer-item {
  margin-left: 0.7rem;
}

///////////////////
//post-single
///////////////////

.post-single {
}

.download-section-header {
  width: 100% !important;
  border-bottom: 2px solid $brand-post-download-section !important;
  span {
    display: inline-block;
    background-color: $brand-post-download-section !important;
    color: $brand-post-download-section-text !important;
    padding: 0.8rem 1.3rem !important;
  }
}

.download-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btn-download {
    margin-top: 1rem;
    padding: 0.8rem 4rem;
    background-color: $brand-btn-download;
    color: $brand-btn-download-text;
    cursor: pointer;
    &:hover {
      background-color: $brand-btn-download-hover;
    }
  }
}

.error-section-header {
  width: 100% !important;
  border-bottom: 2px solid $brand-post-error-section !important;
  span {
    display: inline-block;
    background-color: $brand-post-error-section !important;
    color: $brand-post-error-section-text !important;
    padding: 0.8rem 1.3rem !important;
  }
}
.error-section {
  .error-link {
    color: $brand-error-link !important;
    text-decoration: none !important;
  }
}

.advertisment-section-header {
  width: 100% !important;
  border-bottom: 2px solid $brand-post-advertisment-section !important;
  span {
    display: inline-block;
    background-color: $brand-post-advertisment-section !important;
    color: $brand-post-advertisment-section-text !important;
    padding: 0.8rem 1.3rem !important;
  }
}
.advertisment-section {
  //
}

.info-section-header {
  width: 100% !important;
  border-bottom: 2px solid $brand-post-info-section !important;
  span {
    display: inline-block;
    background-color: $brand-post-info-section !important;
    color: $brand-post-info-section-text !important;
    padding: 0.8rem 1.3rem !important;
  }
}
.info-section {
  .social-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .item {
      margin-left: 0.7rem;
      display: flex;
      border: 1px solid rgb(172, 172, 172);
      border-left: 2px solid $brand-navbar;
      cursor: pointer;
      transition: all 320ms;
      &:hover {
        background: rgba(63, 63, 63, 0.541);
      }
      &:hover > .text {
        font-weight: 900;
      }
    }

    .item-fb {
      background: rgb(39, 158, 255);
      color: white;
      padding: 0;
      .icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 1rem;
        height: 100%;
      }
      .text {
        margin: 0;
        padding: 1rem 1.3rem;
        display: inline-block;
        background: white;
        height: 100% !important;
        color: black;
      }
    }

    .item-insta {
      background: #e2922a;
      color: white;
      padding: 0;
      .icon {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem 1rem;
        height: 100%;
      }
      .text {
        margin: 0;
        padding: 1rem 1.3rem;
        display: inline-block;
        background: white;
        height: 100% !important;
        color: black;
      }
    }
  }
}

.info-box {
  border: 1px solid black;
}

///////////////////
//comment
///////////////////

.comments-section-header {
  width: 100% !important;
  border-bottom: 2px solid $brand-post-comment-section !important;
  h1 {
    margin: 0;
    display: inline-block;
    background-color: $brand-post-comment-section !important;
    color: $brand-post-comment-section-text !important;
    padding: 0.8rem 1.3rem !important;
  }
}

#comment-submit {
  padding: 0.8rem 2.3rem !important;
  background-color: $brand-comment-submit;

  &:hover {
    background-color: $brand-comment-submit-hover;
  }
}
#reply-title {
  margin: 1.3rem 0;
}

.comment-reply-btn > a {
  padding: 0.8rem 1.3rem;
  background-color: $brand-comment-reply;
  text-decoration: none;
  color: $brand-comment-reply-text;
  transition: all 320ms;
  &:hover {
    background-color: $brand-comment-reply-hover;
  }
}
////////////////////
//Footer
////////////////////

footer {
  width: 100%;
  height: 2.5rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $brand-footer-text;
    &:hover {
      color: $brand-footer-text-hover;
    }
  }
}
